doctype html 
html  
    head    
        title= title    
            link(rel='stylesheet', href='/stylesheets/style.css')  
        body    
            h1= title    
            hr    
            p That's a simple course application using Express
            a(href='order') Order Form